extends ../shared/template

block content
  h1= album.name
  .image(style='background-image:url("#{album.photo}")')

  #playlist
    each song in songs
      .playlist
        div= song.name
        audio(src=song.file, controls=true)
